.userAttraction{
    max-height: 500px;
    .attactions{
        min-height: unset !important;
        font-size: 14px !important;
        color: $link-color !important;
        display: block !important;
        line-height: 10px !important;
        padding: 10px !important;
        &:hover{
            background-color: transparent;
        }
        img{
            margin-right: 10px;
        }
    }
}