.customNav{
    background-color: $bg-default-color;
    box-shadow: none;
    ul{
        li{
            a{
                color: $label-primary-color;
                &:hover{
                    background-color: transparent;
                }                
            }
            .borderLeft{
                border-left:1px solid $label-primary-color
            }
        }
        li.userAccountBtn{
            background-color: $interaction-color;    
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
            text-transform: capitalize;
        }
    }
    .badge.notificationbadge {
        background-color: $interaction-color;
        color: $default-color;
        border-radius: 50%;
        position: absolute;
        top: 0px;
        right: 1px;
        width: 25px;
        height: 25px;
        margin-left: 0;
        min-width: 25px;
    }
    .attactionTrigger{
        border: solid 1px $label-primary-color;
        border-radius: 2px;
        line-height: 2;
        margin-top: 10px;        
        i.dropDown{
            line-height: 35px !important;            
        }
        &:hover{
            background-color: transparent;
        }
        color: $label-primary-color;
        &:focus{
            outline: none;
        }
    }
    .brandLogo{
        width: 115px;
        position: relative;
        top: 8px;
        left: 10px;
    }
}


@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
        height: 50px !important;
        line-height: 50px !important;
    }
}